@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Noto+Sans+HK:wght@100..900&family=Noto+Serif+HK:wght@200..900&family=VT323&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #chinesefont {
        font-family: "Noto Sans HK", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
    }

    body {
        font-family: "Anuphan", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        background-color: #e5e5e5;
        font-size:inherit;
        transition: .2s;
    }

    img {
        max-width: 100%;
    }

    h2, h3 {color: #a4276e;}

    a {
        color: #7451f5;
        text-decoration: none;
        transition: .2s;
    }

    a:hover {
        color: #0b0080;
        text-decoration: underline;
        font-weight: 600;
    }

    a:active {
        color: #0b0080;
        text-decoration: underline;
    }

    .main-content-column {
        width: 100%;
        margin-left: 10rem;
        margin-right: auto;
        max-width: 1200px;
        background-color: #fff;
        padding: 2rem;
    }

    nav {
        position: sticky;
        top: 0 ;
        display: flex;
        justify-content: flex-start;
        background: #a4276e;
        height: 4rem;
        margin: 0 auto;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.05);
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.05);
    }

    .logo a img {
        display: flex;
        align-items: center;
        border-radius: 100%;
        max-width: 3rem;
        margin-right: .5rem;
    }

    .logo a {
        font-family: "VT323", monospace;
        font-weight: 400;
        font-style: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
        padding: 9px;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 24px;
    }

    .logo a:hover {
        color: #e8b6d2;
        font-size: 26px;
    }

    .menu {
        display: flex;
        list-style: none;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu li {
        font-weight: 400;
        color: inherit;
        color: #e8b6d2;
        transition: .5s;
        margin: 1rem;
    }

    .menu li a:hover {
        color: #f4ddea;
        font-size: 18px;

    }

    .menu li a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        margin-right: .5rem;
        line-height: 30px;
        transition: 0.2;
    }

    section {
        background-color: #fff;
    }

    .banner, .body-content {
        margin-left: 10%;
        margin-right: 10%;
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.05);
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.05);
    }

    .banner {
        padding-top: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    #topper-ads {
        max-height: 10rem;
        padding: 0;
        margin: 0;
    }
    

    .banner-info h1 {
        color: #a4276e;
        border-bottom: 2px solid #fff;
        font-size: 36px;
    }

    .body-content {
        display: flex;
        height: auto;
        margin-bottom: 1rem;
    }

    .main-content h {
        color: #a4276e;
        font-size: 36px;
        font-weight: 700;
        border-left: 2px solid #e8b6d2;
        padding-left: 1rem;
        transition: .2s;
    }

    .main-content h:hover {
        color: #1a1a1a;
    }

    .main-content, .content {
        flex-grow: 1;
    }

    .main-content {
        width: auto;
        margin-right: 1rem;
    }

    .main-content h1 {
        color: #a4276e;
        border-bottom: 2px solid #e8b6d2;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }

    a.tournament-link {
        text-align: left;
        display: flex;
        padding-left: 1rem;
        align-items: center;
    }

    .content {
        box-sizing: border-box;
        background-color: #f5f5f5;
        border: 2px solid #f4ddea;
        min-width: 200px;
        max-width: 400px;
    }

    .content h2 {
        background-color: #f4ddea;
        text-align: center;
        font-size: 18px;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .content img {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .player-information {
        display: flex;
        height: auto;
        justify-content: center;
        padding-bottom: 10px;
    }

    .info-box p {
        font-weight: 600;
        padding-top: .5rem;
        padding-right: 2px;
        text-align: right;
    }

    .info-box-right p {
        padding-left: 2px;
        padding-top: .5rem;
        text-align: left;

    }

    div.social-icon {
        align-items: center;
        display: flex;
    }

    .social-icon {
        height: 2rem;
        padding-left: 5px;
        padding-right: 5px;
        min-width: 2rem;
        display: flex;
        justify-content: center;
        transition: .2s;
    }

    .fa-brands {
        padding: 5px;
        color: #1a1a1a;
        transition: .2s;
    }

    .fa-brands:hover {
        color: #a4276e;
    }

    .social-icon img {
        padding: 5px;
        border-radius: 5px;
    }

    .social-icon img:hover {
        background-color: #f4ddea;
        padding: 5px;
        border-radius: 5px;
    }


    .history {
        display: flex;
        justify-content: center;
    }

    .history table {
        margin-top: 0;
        width: 100%;
        border-collapse:initial;
    }

    .history th, td {
        border: none;
        padding: 2px 6px;
    }

    .information {
        display: flex;
        justify-content: center;
        margin-top: 0;
        width: 100%;
        border-collapse:initial;
    }

    .information-icon {
        height: 16px;
        width: auto;
        max-width: 28px;
        padding-right: 4px;
    }

    .information th, td {
        border: none;
        padding: 5px 3px;
        height: 1rem;
    }

    .information #left {
        text-align: right;
        font-weight: 600;
        width: 50%;
        font-size: 16px;
    }

    .information #right {
        display: inline-flex;
        justify-content: flex-start;
        text-align: left;
        font-size: 16px;
    }

    .history #left {
        text-align: right;
        width: 50%;
        font-size: 13px;
        font-style: italic;
        color: #2b2b2b;
        padding-right: 2px;
    }

    .history #right {
        text-align: left;
        width: 50%;
        font-size: 14px;
        padding-left: 2px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
    }

    th, td {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        text-align: center;
        margin: 8px;
        place-items: center;
    }

    .main-content table tbody tr th {
        padding: 8px 0;
    }

    thead tr {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tbody tr th {
        font-weight: 400;
    }

    thead tr th {
        padding: .5rem;
    }

    .retired {
        background-color: #eeeeee;
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
        height: 3rem;
    }

    .retired p {
        padding-left: 2px;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .retired h3 {
        display: flex;
        font-size: 18px;
        color: #a4276e;
        align-items: center;
        align-content: center;
        padding-right: 2px;
    }

    .tournament-link {
        text-decoration: none;
        color: #7451f5;
        transition: .2s;
    }

    .tournament-link:hover {
        color: #0b0080;
    }

    .main-content-img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .main-content-img img {
        min-width: 300px;
        max-width: 350px;
        height: auto;
        margin: 5px;
    }

    .ref-text {
        text-align: center;
        margin-top: .5rem;
    }
    
    .team-logo {
        width: 3rem;
        height: auto;
        max-height: 3rem;
        padding: 8px;
    }

    /* footer */

    #footer {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        transition: .2s;
        padding: 1rem 5rem;
        color: #a4276e;
        align-content: center;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.05);
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.05);
    }

    #footer div p {
        text-decoration: none;
        color: #a4276e;
        transition: .5s;
        font-weight: 500;
    }

    #footer div p a {
        text-decoration: none;
        color: initial;
        font-weight: inherit;
        color: #a4276e;
        font-weight: 500;
        font-size: inherit;
        text-transform: none;
    }

    #footer div p a:hover {
        color: #1a1a1a;
    }


    #logo {
        font-family: "VT323", monospace;
        font-weight: 400;
        font-style: normal;
        color: inherit;
        font-size: 24px;
        display: block;
        margin-bottom: .5rem;
        transition: .5s;
        text-decoration: none;
        text-transform: none;
    }

    #logo:hover {
        font-size: 30px;
        color: #1a1a1a;
    }

    .footer-contact {
        display: flex;
        align-items: center;
    }

    .footer-contact div {
        align-content: center;
    }

    .footer-contact p {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    #svg {
        fill: #a4276e;
        margin-right: 10px;
        transition: .2s;
    }

    #svg:hover {
        fill: #1a1a1a;
    }

    #footer-cp {
        background: #a4276e;
        color: #e8b6d2;
        padding: .3rem;
        text-align: center;
        text-transform: uppercase;
    }

    #footer-cp a {
        color: inherit;
        font-size: 12px;
        font-weight: 400;
    }

    #footer-cp a:hover {
        text-decoration: none;
        color: inherit;
        font-weight: inherit;
        color: #fff;
    }

    /* footer end*/
